.searchbar__component {
  display: flex;
  justify-items: center;
  border: thin ridge darkgrey;
  border-radius: 5px;
  padding: 5px;
}

.searchbar__field {
  appearance: none;
  border: unset;
  margin: unset;
  outline: unset;
  font-size: larger;
  padding: unset;
  width: 50ch;
  height: 36px;
}
